.row
  / row
  .col-md-10.col-md-offset-1
    / Left Blogrol col 8
    .works-block
      / Post Wrapper
      %h2 Wrestler
      %hr/
      %img.img-responsive.featured{:alt => "...", :src => "http://placehold.it/1000x600"}/
      %h5.media-heading
        %strong Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec
      %hr/
    / end Post Wrapper
  / end Left content col 8
  .col-md-5.col-md-offset-1
    / Blog Sidebar
    %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    %hr/
    %dl.dl-horizontal.text-left
      %dt Date:
      %dd Jan 25, 2014
      %dt Skills Related:
      %dd Web Design, UI Design
      %dt Client:
      %dd Mark Szuckerburg
      %dt Website:
      %dd WeAreCool.Com
    %nav
      %ul.pagination
        %li
          %a{"aria-label" => "Previous", :href => "#"}
            %span{"aria-hidden" => "true"} Prev
        %li
          %a{"aria-label" => "Next", :href => "#"}
            %span{"aria-hidden" => "true"} Next
  / end right content col 4
  .col-md-5
    .row
      .col-md-12
        %h4.text-uppercase Related Item
      .col-xs-6.col-sm-3.col-md-4
        .work-related-thumb
          %a{:href => "#"}
            %img.img-thumbnail{:alt => "...", :src => "http://placehold.it/140x140"}/
      .col-xs-6.col-sm-3.col-md-4
        .work-related-thumb
          %a{:href => "#"}
            %img.img-thumbnail{:alt => "...", :src => "http://placehold.it/140x140"}/
      .col-xs-6.col-sm-3.col-md-4
        .work-related-thumb
          %a{:href => "#"}
            %img.img-thumbnail{:alt => "...", :src => "http://placehold.it/140x140"}/
      .col-xs-6.col-sm-3.col-md-4
        .work-related-thumb
          %a{:href => "#"}
            %img.img-thumbnail{:alt => "...", :src => "http://placehold.it/140x140"}/
      .col-xs-6.col-sm-3.col-md-4
        .work-related-thumb
          %a{:href => "#"}
            %img.img-thumbnail{:alt => "...", :src => "http://placehold.it/140x140"}/
      .col-xs-6.col-sm-3.col-md-4
        .work-related-thumb
          %a{:href => "#"}
            %img.img-thumbnail{:alt => "...", :src => "http://placehold.it/140x140"}/
