.spacer
#about-header
  .container
    .row
      %h1 Nephtali "JustNeph" Rodriguez

      .col-md-10
        %p Entertainer | Wrestler | #BoomTime | Software Engineer


#about-content
  / fullwidth gray background
  .container
    / container
    = render "entertainer"

    = render "wrestler"

    = render "boomtime"

    = render "software_engineer"
