.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        .clearfix
        .media
          .media-left
            = image_tag "about-profile.png"
          .media-body
            %h4.media-heading Media heading
            amsldams
        .media
          .media-left
            = image_tag "about-profile.png"
          .media-body
            %h4.media-heading Media heading
