%a{:name => "about"}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 JustNeph
          %h3 Entertainer | Wrestler | #BoomTime | Software Engineer
          %hr.intro-divider/
          %ul.list-inline.intro-social-buttons
            %li
              %a.btn.btn-default.btn-lg{:href => "https://twitter.com/JustNeph"}
                %i.fa.fa-twitter.fa-fw
                %span.network-name Twitter
            %li
              %a.btn.btn-default.btn-lg{:href => "https://instagram.com/JustNeph"}
                %i.fa.fa-instagram.fa-fw
                %span.network-name Instagram
            %li
              %a.btn.btn-default.btn-lg{:href => "https://facebook.com/JustNephFB"}
                %i.fa.fa-facebook.fa-fw
                %span.network-name Facebook
            %li
              %a.btn.btn-default.btn-lg{:href => "https://github.com/nrodriguez"}
                %i.fa.fa-github.fa-fw
                %span.network-name Github

%a{:name => "services"}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Entertainer
        %p.lead
          Having appeared in his own youtube series, a sketch comedy channel, and now starring as one of the supporting cast members for FYI "Married At First Sight: The First Year", Nephtali has tackled multiple mediums of entertainment with his quick witted humor and ability to connect with his viewers...
          READ MORE
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag("ipad.png", class: "img-responsive")
  / /.container
/ /.content-section-a
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Wrestler
        %p.lead
          Having trained for over 2 years and managing for over 6, JustNeph has begun to take his stake in the independent wrestling scene. Bringing his ferocity and ability to think two steps ahead, he often calls himself the "Wrestling Ring's Mental Chessmaster". Utilizing bone crunching manuevers like his patented "Capture Kick", he has begun to let the independent wrestling world, he is only just beginning... READ MORE
      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag("dog.png", class: "img-responsive")
  / /.container
/ /.content-section-b
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          \#BoomTime
        %p.lead
          Leading up to 2014, Nephtali struggled with becoming overweight. After his divorce, he began to take his life into his own hands and got back into the gym. It was in this struggle that the #BoomTime movement began. Losing over 40 lbs and gaining his self confidence back, he seeks to help others achieve their own personal goals both in and out of fitness with postive mental attitude and motivational speaking... READ MORE
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag("phones.png", class: "img-responsive")
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Software Engineer
        %p.lead
          After graduating with his Bachelors of Science with a focus in Game Development, Nephtali began to take to the world of web applications. Having gained over 5 years of experience in his field, he has taken to joy of tackling tough problems and furthering the preaching of good code quality and best practices... READ MORE
      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag("dog.png", class: "img-responsive")
  / /.container
/ /.content-section-a
%a{:name => "contact"}
.banner
  .container
    .row
      .col-lg-6
        %h2 Connect to Start Bootstrap:
      .col-lg-6
        %ul.list-inline.banner-social-buttons
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/SBootstrap"}
              %i.fa.fa-twitter.fa-fw
              %span.network-name Twitter
          %li
            %a.btn.btn-default.btn-lg{:href => "https://github.com/IronSummitMedia/startbootstrap"}
              %i.fa.fa-github.fa-fw
              %span.network-name Github
          %li
            %a.btn.btn-default.btn-lg{:href => "#"}
              %i.fa.fa-linkedin.fa-fw
              %span.network-name Linkedin
  / /.container
