%a{:name => "contact"}
.banner
  .container
    .row
      .col-lg-6
        %h2 Connect with @JustNeph
        %br
        %h2 on all social media platforms
      .col-lg-6
        %ul.list-inline.banner-social-buttons
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/JustNeph", target: "_blank"}
              %i.fa.fa-twitter.fa-fw
              %span.network-name Twitter
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/JustNeph", target: "_blank"}
              %i.fa.fa-facebook.fa-fw
              %span.network-name Facebook
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/JustNeph", target: "_blank"}
              %i.fa.fa-instagram.fa-fw
              %span.network-name Instagram
        %ul.list-inline.banner-social-buttons
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/JustNeph", target: "_blank"}
              %i.fa.fa-twitch.fa-fw
              %span.network-name Twitch
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/JustNeph", target: "_blank"}
              %i.fa.fa-github.fa-fw
              %span.network-name Github
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/JustNeph", target: "_blank"}
              %i.fa.fa-pinterest.fa-fw
              %span.network-name Pinterest
%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            %a{:href => "#"} Home
          %li.footer-menu-divider &#8901;
          %li
            %a{:href => "#about"} About
          %li.footer-menu-divider &#8901;
          %li
            %a{:href => "#services"} Services
          %li.footer-menu-divider &#8901;
          %li
            %a{:href => "#contact"} Contact
        %p.copyright.text-muted.small Copyright &#169; Your Company 2014. All Rights Reserved
