%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            %a{:href => "#"} Home
          %li.footer-menu-divider &#8901;
          %li
            %a{:href => "#about"} About
          %li.footer-menu-divider &#8901;
          %li
            %a{:href => "#services"} Services
          %li.footer-menu-divider &#8901;
          %li
            %a{:href => "#contact"} Contact
        %p.copyright.text-muted.small Copyright &#169; Your Company 2014. All Rights Reserved
