%ul.nav.nav-pills
  %li.active
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Profile
  %li.disabled
    %a{:href => "#"} Disabled
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Dropdown
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another action
      %li
        %a{:href => "#"} Something else here
      %li.divider
      %li
        %a{:href => "#"} Separated link
